
.content a{
    text-decoration: none;
    color: black;


}

.content{
    width:70%;
    margin: 10px auto;
}

.post_image{
    width:20%;
    height: 150px;
    float: left;
    margin:10px 10px;
    
}
.post_image a{
    width:100%;
    background-size: cover;
    height: 100%;
    display: block;
}

.post hr{
    width:100%;
}

.post_title{
    height: 80%;
    font-size: 2em;

}

header{
    text-align: center;
    background-size: cover;
    
}

header hr{
    width:100%;

}